@import '../../styles/mixin'

$tip = #ffffff
$darkorange = #ff8c00

.home
  height 100%
  #map-container
    height 100vh
    width 100vw
    position absolute

  .location-tip
    position fixed
    top 0
    right 0

  .weather-tip
    position absolute
    bottom .2rem
    left .2rem
    background-color $darkorange
    border-radius .2rem
    .icon
      height .8rem
      width .8rem


  .flipper-container
    position absolute
    bottom .2rem
    left .2rem
    width 100%
    .flipper
      font-family "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif
      .front
        .flipper-front
          .weather
            .item
              display flex
              line-height 1.6
              :first-child
                flex-basis 40%
        
      .back
        .flipper-back
          .forecast
            background-image -webkit-linear-gradient(to right, rgba(79, 172, 254, .6) 0%, rgba(0, 242, 254, .6) 100%)
            background-image -o-linear-gradient(to right, rgba(79, 172, 254, .6) 0%, rgba(0, 242, 254, .6) 100%)
            background-image -moz-linear-gradient(to right, rgba(79, 172, 254, .6) 0%, rgba(0, 242, 254, .6) 100%)
            background-image linear-gradient(to right, rgba(79, 172, 254, .6) 0%, rgba(0, 242, 254, .6) 100%)
            .item
              display flex
              line-height 1.6
              justify-content space-between

      .front .flipper-front, .back .flipper-back
        width 60%
        position relative
        .icon
          position absolute
          top .2rem
          right .2rem
          height .6rem
          width .6rem

      .front .weather, .back .forecast
        width 100%
        height 100%
        background-image -webkit-linear-gradient(-225deg, rgba(44, 216, 213, .6) 0%, rgba(197, 193, 255, .6) 56%, rgba(255, 186, 195, .8) 100%)
        background-image -o-linear-gradient(-225deg, rgba(44, 216, 213, .6) 0%, rgba(197, 193, 255, .6) 56%, rgba(255, 186, 195, .8) 100%)
        background-image -moz-linear-gradient(-225deg, rgba(44, 216, 213, .6) 0%, rgba(197, 193, 255, .6) 56%, rgba(255, 186, 195, .8) 100%)
        background-image linear-gradient(-225deg, rgba(44, 216, 213, .6) 0%, rgba(197, 193, 255, .6) 56%, rgba(255, 186, 195, .8) 100%)
        border-radius .2rem
        padding .3rem
        color $tip
        .instant
          $font-size(16px)
          padding-bottom .2rem

      &.flip
        transform rotateY(180deg)